<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
        <string>平安汽车保险</string>
        <string>95512</string>
    </array>
    <array>
        <string>中国人保汽车财险</string>
        <string>95518</string>
    </array>
    <array>
        <string>太平洋汽车财险</string>
        <string>95500</string>
    </array>
    <array>
        <string>中华联合汽车保险</string>
        <string>95585</string>
    </array>
    <array>
        <string>大地汽车财险</string>
        <string>95590</string>
    </array>
    <array>
        <string>永安汽车保险</string>
        <string>95502</string>
    </array>
    <array>
        <string>阳光汽车保险</string>
        <string>95510</string>
    </array>
    <array>
        <string>安邦汽车保险</string>
        <string>95569</string>
    </array>
    <array>
        <string>太平汽车财险</string>
        <string>95529</string>
    </array>
    <array>
        <string>都邦汽车保险</string>
        <string>4008895586</string>
    </array>
    <array>
        <string>永诚汽车保险</string>
        <string>95552</string>
    </array>
    <array>
        <string>华泰汽车保险</string>
        <string>4006095509</string>
    </array>
    <array>
        <string>渤海汽车财险</string>
        <string>4006116666</string>
    </array>
    <array>
        <string>大众汽车保险</string>
        <string>95507</string>
    </array>
    <array>
        <string>太平汽车保险</string>
        <string>95550</string>
    </array>
    <array>
        <string>民安汽车保险</string>
        <string>95506</string>
    </array>
    <array>
        <string>华安汽车保险</string>
        <string>95556</string>
    </array>
    <array>
        <string>安诚汽车保险</string>
        <string>4000500000</string>
    </array>
    <array>
        <string>安联汽车保险</string>
        <string>4008883636</string>
    </array>
    </array>
</plist>
